@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: #DBD1C4;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #A69E94;
}

.cabecalho {
    background-color: #010B26;
}

.cabecalho nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    color: #fff;
}

.cabecalho nav img {
    height: 30px;
    cursor: pointer;
}

.perfil-section {
    display: flex;
    align-items: center;
    font-size: 22px;
}

.input-search-section {
    display: flex;
    align-items: center;
    margin-right: 15px;
    height: 30px;
    padding-left: 5px;
    border: .5px solid #fff;
}

.input-search {
    border: none;
    padding-right: 5px;
    font-size: 15px;
    outline: unset;
    height: 30px;
    background-color: unset;
    color: #fff;
}

.input-search::selection {
    padding: 5px;
    background-color: #000;
}

.icone-carrinho-section {
    position: relative;
}

#checkbox-carrinho {
    display: none;
}

.icone-carrinho-section section {
    position: fixed;
    display: none;
    height: 100vh;
    width: 300px;
    top: 0;
    right: 0;
    background-color: #000;
    z-index: 3;
}

#checkbox-carrinho:checked ~ section {
    display: block;
}

.fa-shopping-bag {
    position: relative;
    font-size: 25px;
    cursor: pointer;
}

#numero-itens-carrinho-span {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -7px;
    right: -10px;
    height: 20px;
    width: 20px;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #010B26;
}

.itens-carrinho-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 5px;
    background-color: #000;
    color: #fff;
    margin: 5px;
}

.itens-carrinho-div header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    font-weight: 900;
    font-size: 20px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.itens-carrinho-div header button {
    font-size: 25px;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #f00;
    border-radius: 50%;
    transition: .3s ease;
}

.itens-carrinho-div header button:hover {
    background-color: #d40202;
    font-size: 17px;
    transition: .3s ease;
}

.informacoes-item-carrinho-div {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: .5px solid #fff;
}

.informacoes-item-carrinho-div button {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 8px 0;
    background-color: #f00;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: .2s ease;
}

.informacoes-item-carrinho-div button:hover {
    background-color: #d40202;
    transition: .2s ease;
}

.informacoes-item-carrinho-div button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    width: 0;
    height: .5px;
    background-color: #fff;
    transition: .2s ease;
}

.informacoes-item-carrinho-div button:hover::after {
    content: '';
    position: absolute;
    width: 170px;
    height: .5px;
    transition: 2.5s ease;
}

.nome-item-carrinho {
    font-size: 20px;
}

.img-item-carrinho {
    min-height: 120px;
    max-width: 130px;
    cursor: inherit;
}

.preco-e-quantidade-item-carrinho-div {
    width: 100%;
    font-size: 20px;
    padding: 0 10px;
}

.informacoes-item-carrinho-div div {
    display: flex;
    justify-content: space-between;
}

#preco-item-carrinho {
    margin-left: 0;
}

.valor-total-e-bt-checkout-carrinho-div {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: #fff;
    padding: 10px 0;
}

.valor-total-itens-carrinho {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 20px;
}

.background-itens-carrinho-div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.input-search-section i {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
    background-color: #fff;
    color: #010B26;
    height: 30px;
}

.cabecalho nav span {
    cursor: pointer;
    margin-left: 15px;
}

.cabecalho nav span i {
    margin-right: 5px;
}

.apresentacao-produto {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 670px;
    padding: 0 2%;
    background-color: #000110;
    background-image: url(./imagens/img\ fundo\ asus.png);
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
    overflow: hidden;
}

.apresentacao-produto::after {
    content: '';
    position: absolute;
    bottom: -80px;
    left: -80px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: linear-gradient(to top right, #001e6b, #000000);
}

.apresentacao-produto nav {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.apresentacao-produto nav ul {
    display: flex;
}

.apresentacao-produto nav ul li {
    list-style: none;
    margin: 0 10px;
}

.apresentacao-produto nav ul li:first-child a {
    border-bottom: 2px solid #fff;
    color: #fff;
    height: 0;
}

.apresentacao-produto nav ul li:first-child a:before {
    opacity: 0;
}

.apresentacao-produto nav ul li a {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    border: none;
    transition: .2s ease;
    -webkit-transition: all 0.2s ease-in-out 0s;
    color: rgba(255, 255, 255, 0.5);
}

.apresentacao-produto nav ul li a:hover {
    color: #fff;
}

.apresentacao-produto nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
  
.apresentacao-produto nav ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.titulo-e-subtitulo-section-apresentacao-produto {
    display: flex;
    flex-direction: column;
}

.apresentacao-produto h1 {
    font-size: 4vw;
    text-transform: uppercase;
}

.subtitulo-apresentacao-produto {
    font-size: 2.7vw;
    text-transform: uppercase;
    color: #0084ff;
}

.bt-ver-mais-apresentacao-produto {
    position: relative;
    width: 170px;
    height: 45px;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    border: 1px solid #afc4ff;
    cursor: pointer;
    border-radius: 30px;
    background-color: #010B26;
    z-index: 1;
    transition: .3s ease;
}

.bt-ver-mais-apresentacao-produto:hover {
    color: #010B26;
    background-color: #fff;
    border: none;
    transition: .3s ease;
}

.apresentacao-produto section a:last-child {
    margin-left: 30px;
}

.redes-sociais-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: absolute;
    right: 0;
}

.redes-sociais-div a {
    position: relative;
    margin: 10px 0;
    border-radius: 50%;
    padding-right: 10px;
}

.redes-sociais-div a i {
    background-color: #222;
    padding: 10px;
    border-radius: 50%;
    transition: .5s ease;
}

.redes-sociais-div a i:hover {
    color: #000;
    background: #fff;
    transition: .5s ease;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    flex-flow: wrap;
}

.main::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 50px;
    height: 300px;
    width: 2px;
    background-color: #010B26;
}

.produto-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    margin-left: 40px;
    min-width: 600px;
}

.img-principal-section {
    display: flex;
    align-items: center;
    min-height: 500px;
    max-width: 600px;
    overflow: hidden;
}

.img-principal-section img {
    max-width: 600px;
    position: relative;
    opacity: 1;
    transition: 0.5s ease;
}

.img-principal-section img:hover {
    transform: scale(1.5, 1.5);
}

.slide-imgs-produtos-section {
    background-color: #010b262d;
    border-radius: 10px;
}

.produto-main section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.img-produto-slide-main {
    height: 40px;
    width: 50px;
    margin: 0 10px;
    cursor: pointer;
    transition: .5s ease;
}

.img-produto-slide-main:hover {
    height: 55px;
    width: 65px;
    transition: .5s ease;
}

.especificacoes-produto-main {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.especificacoes-produto-main h2{
    text-align: center;
    margin-bottom: 50px;
}

.link-especificacoes-produto div svg {
    height: 40px;
    fill: #fff;
    transition: .5s ease;
}

#svg-armazenamento {
    height: 28px;
}

.preço-produto {
    margin: 20px 0 0 10px;
    font-size: 25px;
    font-weight: 600;
}

.preço-alternativo-produto {
    font-size: 17px;
    margin-left: 10px;
    color: #474747be;
}

.especificacoes-produto-main section {
    display: flex;
    margin: 10px 0;
}

.especificacoes-produto-main section a {
    display: flex;
    max-width: 220px;
}

.especificacoes-produto-main section a img {
    width: 30px;
    margin-right: 5px;
}

.especificacoes-produto-main section div {
    position: relative;
    margin: 0 10px;
    padding: 10px;
    width: 220px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background-color: #010B26;
    color: #fff;
    transition: .5s ease;
}

.especificacoes-produto-main section div:hover {
    background-color: unset;
    transition: .5s ease;
    height: 110px;
    color: #000;
    padding-bottom: 30px;
    border: .5px solid #000;
    transition: .4s ease;
}

.especificacoes-produto-main section div:hover svg {
    fill: #000;
    transition: .4s ease;
}

.especificacoes-produto-main section div:hover::before {
    content: '';
    position: absolute;
    background-color: #010B26;
    width: 20px;
    height: 70px;
    top: -10px;
    right: -10px;
    border-radius: 3px;
}

.especificacoes-produto-main section div:hover::after {
    content: 'Ver mais';
    position: absolute;
    background-color: #000;
    color: #fff;
    width: 70%;
    border-radius: 5px 5px 0 0;
    padding: 2px 0;
    bottom: 0;
}

.bt-comprar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    outline: none;
    margin: 5px auto;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    border: .4px solid #000;
    background-color: unset;
    transition: .5s ease;
    overflow: hidden;
}

.bt-comprar:hover {
    background-color: #000;
    color: #fff;
    transition: .5s ease;
}

.bt-comprar i {
    margin-right: 5px;
}

.especificacoes-pecas-produtos {
    padding: 50px 40px 50px 40px;
}

#especificacoes-pecas-produtos-h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4vw;
    margin: 15% 0 10% 0;
    text-align: center;
}

.especificacoes-pecas-produtos section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    margin-bottom: 30px;
}

.especificacoes-pecas-produtos section:last-child {
    margin-bottom: 0;
}

.especificacoes-pecas-produtos section h3 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
}

.especificacoes-pecas-produtos section h3 img {
    margin-right: 10px;
}

.especificacoes-pecas-produtos section p {
    font-size: 20px;
    max-width: 50%;
}

#especificacoes-placa-video, #especificacoes-ssd {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#especificacoes-placa-video::after, #especificacoes-ssd::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 3px;
    left: -40px;
    bottom: -10px;
    background-color: #000;
}

#especificacoes-placa-video::before, #especificacoes-ssd::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 3px;
    right: -40px;
    top: 0;
    background-color: #000;
}

#especificacoes-processador, #especificacoes-placa-video, #especificacoes-memoria-ram, #especificacoes-ssd {
    background-size: 500px;
    background-repeat: no-repeat;
}

#especificacoes-processador {
    background-image: url(https://media.pichau.com.br/media/catalog/product/cache/2f958555330323e505eba7ce930bdf27/b/x/bx8070110700f.jpg);
    background-position: right;
    background-size: 400px;
}

#especificacoes-placa-video {
    background-image: url(https://img.terabyteshop.com.br/produto/g/placa-de-video-palit-nvidia-geforce-rtx-3070ti-gamingpro-8gb-gddr6x-256bit-ned307t019p2-1046a_124440.png);
    background-position: left;
}

#especificacoes-memoria-ram {
    background-image: url(https://cf.shopee.com.br/file/b18647809e304817bf747170c79092ae);
    background-position: right;
}

#especificacoes-ssd {
    background-image: url(https://images.kabum.com.br/produtos/fotos/127699/ssd-xpg-s41-tuf-256gb-m-2-pcie-leituras-3500mb-s-gravacoes-1000mb-s-agammixs41-256g-c_1606394865_g.jpg);
    background-position: left;
    background-size: 400px;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 40px;
    color: #fff;
    background-color: #010B26;
}

.redes-socias-footer a {
    font-size: 22px;
    margin: 0 5px;
    padding: 8px;
    border-radius: 50%;
    transition: .3s ease;
}

.redes-socias-footer a:hover {
    background-color: #fff;
    color: #000100;
    transition: .3s ease;
}

@media (max-width: 1200px) {

    .apresentacao-produto {
        height: 500px;
    }

    .apresentacao-produto::after {
        bottom: -100px;
        left: -100px;
        height: 300px;
        width: 300px;
    }

    .produto-main {
        height: 600px;
        padding: 0;
        margin-left: 20px;
        min-width: 400px;
    }
    
    .img-principal-section {
        max-height: 400px;
    }
    
    .img-principal-section img {
        max-width: 400px;
    }
    
    .slide-imgs-produtos-section {
        max-width: 500px;
    }
    
    .produto-main section {
        width: 100%;
        height: 60px;
    }
    
    .img-produto-slide-main {
        height: 30px;
        width: 40px;
        margin: 0 5px;
    }
    
    .img-produto-slide-main:hover {
        height: 40px;
        width: 50px;
    }
}

@media (max-width: 1000px) {

    .apresentacao-produto {
        height: 500px;
        background-position: top;
    }

    .apresentacao-produto::after {
        bottom: -130px;
        left: -130px;
    }

    .apresentacao-produto h1 {
        font-size: 4.5vw;
    }

    .subtitulo-apresentacao-produto {
        font-size: 3.2vw;
    }

    .main {
        flex-direction: column;
        margin: 270px 0  230px 0;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .main::before {
        top: -220px;
    }

    .produto-main {
        align-items: center;
        margin:  0 0 100px 0;
    }

    .especificacoes-produto-main {
        margin-right: 0;
    }

    #especificacoes-processador, #especificacoes-placa-video, #especificacoes-memoria-ram, #especificacoes-ssd {
        background-size: 300px;
    }
    
    #especificacoes-pecas-produtos-h2 {
        margin: 20% 0 7% 0;
    }

}

@media (max-width: 700px) {

    .cabecalho nav {
        margin: 0 25px;
    }

    .apresentacao-produto {
        height: 370px;
        background-image: unset;
    }

    .apresentacao-produto section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .apresentacao-produto h1 {
        font-size: 6vw;
    }

    .subtitulo-apresentacao-produto {
        font-size: 3.7vw;
    }
    
    .apresentacao-produto::after {
        bottom: -80px;
        left: -80px;
        height: 200px;
        width: 200px;
    }
    
    .bt-ver-mais-apresentacao-produto {
        width: 140px;
        height: 38px;
        font-size: 14px;
    }

    .apresentacao-produto section a:last-child {
        margin-left: 20px;
    }

    .redes-sociais-div {
        display: none;
    }

    .input-search-section {
        margin-right: 40px;
        width: 135px;
        height: 30px;
    }
    
    .input-search {
        height: 30px;
        width: 120px;
        background-color: unset;
    } 

    #especificacoes-processador, #especificacoes-placa-video, #especificacoes-memoria-ram, #especificacoes-ssd {
        background-image: none;
    }

    #especificacoes-processador, #especificacoes-placa-video, #especificacoes-memoria-ram, #especificacoes-ssd {
        display: flex;
        align-items: center;
        text-align: justify;
        height: 300px;
        margin-bottom: 0;
    }

    .especificacoes-pecas-produtos section p {
        font-size: 20px;
        max-width: 100%;
    }
    
    #especificacoes-pecas-produtos-h2 {
        margin: 25% 0 5% 0;
        font-size: 8vw;
    }

}

@media (max-width: 500px) {

    .main {
        flex-direction: column;
        margin: 390px 0 310px 0;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .apresentacao-produto::after {
        display: none;
    }
    
    .main::before {
        top: -340px;
    }

    .cabecalho nav {
        margin: 0 20px;
    }

    .input-search-section {
        display: none;
    }

    .produto-main {
        margin-left: 0;
        min-width: 0;
    }
    
    .img-principal-section img {
        max-width: 300px;
    }
    
    .slide-imgs-produtos-section {
        max-width: 300px;
        border-radius: 0;
        padding-left: 50px;
        overflow: auto;
        margin-top: -75px;
    }

    .especificacoes-produto-main {
        align-items: center;
    }

    .especificacoes-produto-main h2{
        text-align: center;
        font-size: 25px;
        margin-bottom: 50px;
    }

    .especificacoes-produto-main section {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .especificacoes-produto-main section div {
        position: relative;
        margin-right: 0;
        margin: 10px 0;
    }

    .bt-comprar:first-child {
        margin-top: 50px;
    }

    #especificacoes-pecas-produtos-h2 {
        margin: 40% 0 2% 0;
        font-size: 10vw;
    }

}

@media (max-width: 400px) {

    .produto-main {
        min-width: 0;
    }

    #especificacoes {
        margin-top: 400px;
    }

    .apresentacao-produto {
        height: 300px;
        align-items: center;
    }
    
    .apresentacao-produto h1 {
        font-size: 6vw;
    }

    .subtitulo-apresentacao-produto {
        font-size: 4.2vw;
    }
    
    .apresentacao-produto nav ul li a {
        font-size: 12px;
    }

    .bt-ver-mais-apresentacao-produto {
        width: 120px;
        height: 33px;
        font-size: 12px;
    }
    
    .apresentacao-produto section a:last-child {
        margin-left: 10px;
    }

    .especificacoes-produto-main h2{
        text-align: center;
        font-size: 22px;
        margin-bottom: 50px;
    }

    .img-principal-section img {
        width: 250px;
    }

    .slide-imgs-produtos-section {
        max-width: 250px;
        border-radius: 0;
        padding-left: 50px;
        overflow: auto;
        margin-top: -75px;
    }

    .especificacoes-pecas-produtos section h3 {
        font-size: 20px;
    }

    #especificacoes-placa-video::before, #especificacoes-ssd::before {
        content: '';
        position: absolute;
        width: 30%;
        height: 3px;
        right: 0;
        top: 0;
        margin-bottom: 50px;
        background-color: #000;
    }
}